div.header
  
  ul
    li
      a.active(href='/') Home
    li
      a(href='#news') News
    li
      a(href='#contact') Contact
    li
      a(href='#about') About
    li
      if user
        a(href='/logout') Logout
      else 
        a(href='/auth/google') Login