doctype html
html
    head
        style
            include style.css
        title google login
    body
      include ./header.pug
      div
        h1 WELCOME TO MAIN PAGE. PLEASE LOGIN!
        
        include ./footer.pug