doctype html
html
    head
        style
            include style.css
        title google login
    body
      include ./header.pug
      h1 Hi, your google email is: #{user.email} and password is: #{user.password}
      
      
      include ./footer.pug